@import "./reset.css";

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html, body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */
.nav {
    padding: 20px 0;
    background-color: #171718;
    border-bottom: 1px solid #26292D;

    color: #FFF;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.nav__logo span {
    font-weight: 400;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}


.nav__list a {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #FFF;
}

.nav__list a::after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #5C62EC;
}

.nav__list a:hover::after {
    display: block;
}
